In [1]:
import pandas as pd
df = pd.read_csv('diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [2]:
df.shape

(768, 9)

In [3]:
x = df.drop(['Outcome'],axis='columns')
y = df.Outcome

In [4]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_scaled = sc.fit_transform(x)
x_scaled

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [5]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x_scaled,y,random_state=10)

In [6]:
x_train.shape

(576, 8)

In [11]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

scores = cross_val_score(DecisionTreeClassifier(),x_scaled,y,cv=5)

In [12]:
scores

array([0.66883117, 0.68181818, 0.71428571, 0.78431373, 0.73856209])

In [13]:
scores.mean()

0.7175621763857059

In [15]:
from sklearn.ensemble import BaggingClassifier

bag_model = BaggingClassifier(
base_estimator = DecisionTreeClassifier(),
n_estimators=100,
max_samples=0.85,
oob_score=True,
random_state=10)

bag_model.fit(x_train,y_train)

BaggingClassifier(base_estimator=DecisionTreeClassifier(), max_samples=0.85,
                  n_estimators=100, oob_score=True, random_state=10)

In [16]:
bag_model.oob_score_

0.7534722222222222

In [17]:
bag_model.score(x_test,y_test)

0.765625

In [18]:
df = pd.read_csv('heart.csv')
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [30]:
df[df.Cholesterol>(df.Cholesterol.mean() + 3*df.Cholesterol.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0

In [31]:
df1 = df[df.Cholesterol<=(df.Cholesterol.mean() + 3*df.Cholesterol.std())]

In [32]:
df[df.RestingBP>(df.RestingBP.mean() + 3*df.RestingBP.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
109,39,M,ATA,190,241,0,Normal,106,N,0.0,Up,0
241,54,M,ASY,200,198,0,Normal,142,Y,2.0,Flat,1
365,64,F,ASY,200,0,0,Normal,140,Y,1.0,Flat,1
399,61,M,NAP,200,0,1,ST,70,N,0.0,Flat,1
592,61,M,ASY,190,287,1,LVH,150,Y,2.0,Down,1
732,56,F,ASY,200,288,1,LVH,133,Y,4.0,Down,1
759,54,M,ATA,192,283,0,LVH,195,N,0.0,Up,1

In [33]:
df2 = df1[df1.RestingBP<=(df1.RestingBP.mean() + 3*df1.RestingBP.std())]

In [34]:
df[df.Oldpeak>(df.Oldpeak.mean() + 3*df.Oldpeak.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
166,50,M,ASY,140,231,0,ST,140,Y,5.0,Flat,1
702,59,M,TA,178,270,0,LVH,145,N,4.2,Down,0
771,55,M,ASY,140,217,0,Normal,111,Y,5.6,Down,1
791,51,M,ASY,140,298,0,Normal,122,Y,4.2,Flat,1
850,62,F,ASY,160,164,0,LVH,145,N,6.2,Down,1
900,58,M,ASY,114,318,0,ST,140,N,4.4,Down,1

In [35]:
df3 = df2[df2.Oldpeak<=(df2.Oldpeak.mean() + 3*df2.Oldpeak.std())]

In [36]:
df3.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [38]:
df3.ChestPainType.unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [39]:
df3.RestingECG.unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [40]:
df3.ExerciseAngina.unique()

array(['N', 'Y'], dtype=object)

In [41]:
df3.ST_Slope.unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [43]:
df4 = df3.copy()
df3.RestingECG.replace(
{
    'Normal':1,
    'ST':2,
    'LVH':3
},inplace=True)

df3.ExerciseAngina.replace(
{
    'N':0,
    'Y':1
},inplace=True)

df3.ST_Slope.replace({
    'Up':1,
    'Flat':2,
    'Down':3
},inplace=True)

D:\anaconda\lib\site-packages\pandas\core\generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [44]:
df3.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,1,172,0,0.0,1,0
1,49,F,NAP,160,180,0,1,156,0,1.0,2,1
2,37,M,ATA,130,283,0,2,98,0,0.0,1,0
3,48,F,ASY,138,214,0,1,108,1,1.5,2,1
4,54,M,NAP,150,195,0,1,122,0,0.0,1,0

In [49]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
dfle = df3
dfle.ChestPainType = le.fit_transform(dfle.ChestPainType)

D:\anaconda\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [54]:
dfle.drop(['ChestPainType','Sex'],axis='columns')

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,ChesPainType
0,40,140,289,0,1,172,0,0.0,1,0,1
1,49,160,180,0,1,156,0,1.0,2,1,2
2,37,130,283,0,2,98,0,0.0,1,0,1
3,48,138,214,0,1,108,1,1.5,2,1,0
4,54,150,195,0,1,122,0,0.0,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...
913,45,110,264,0,1,132,0,1.2,2,1,3
914,68,144,193,1,1,141,0,3.4,2,1,0
915,57,130,131,0,1,115,1,1.2,2,1,0
916,57,130,236,0,3,174,0,0.0,2,1,1
917,38,138,175,0,1,173,0,0.0,1,0,2

In [62]:
x = dfle.drop(['HeartDisease','ChestPainType','Sex'],axis='columns')
y = dfle.HeartDisease
x.head()

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,ChesPainType
0,40,140,289,0,1,172,0,0.0,1,1
1,49,160,180,0,1,156,0,1.0,2,2
2,37,130,283,0,2,98,0,0.0,1,1
3,48,138,214,0,1,108,1,1.5,2,0
4,54,150,195,0,1,122,0,0.0,1,2

In [63]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

x_scaled = sc.fit_transform(x)

In [64]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x_scaled,y,test_size=0.3)

In [65]:
from sklearn.svm import SVC
model = SVC()
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.8560885608856088

In [66]:
from sklearn.ensemble import BaggingClassifier
model = BaggingClassifier(
base_estimator=SVC(),
n_estimators=80,
max_samples=0.80,
oob_score=True,
random_state=20)

model.fit(x_train,y_train)
model.oob_score_

0.849445324881141

In [67]:
model.score(x_test,y_test)

0.8708487084870848

In [68]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.7601476014760148

In [69]:
bag_model = BaggingClassifier(
base_estimator=DecisionTreeClassifier(),
n_estimators=100,
max_samples=0.80,
oob_score=True,
random_state=20)

bag_model.fit(x_train,y_train)
bag_model.oob_score_

0.8526148969889065

In [70]:
bag_model.score(x_test,y_test)

0.8228782287822878